<div class="container-fluid">
  <div class="row mt-3">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Добро пожаловать на Budget Planner!</h4>
          <p class="card-text">Budget Planner - это планировщик бюджета, который поможет вам ориентироваться в собственных финансах.<br>
            С помощью платформы Budget Planner вы можете удобно спланировать свои расходы в доступной форме.
          </p>
          <hr>
          <p class="card-text">
            Чтобы начать пользоваться <a class="text-decoration-none" routerLink="/login" routerLinkActive="true">войдите</a> или
            <a class="text-decoration-none" routerLink="/register" routerLinkActive="true">зарегистрируйтесь</a>.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
