<div class="row mt-2">
  <div class="col-2"></div>
  <div class="col-4 d-flex flex-column">
    <app-budget-card class="mb-3" *ngFor="let budget of budgets" [budget]="budget"
                     (deleteButtonEvent)="deleteBudget($event)"
                    (cardSelected)="selectBudget($event)">

    </app-budget-card>
  </div>
  <div class="col-4 d-flex flex-column">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Создать</h5>
        <form [formGroup]="budgetForm" (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <label for="floatingInput" class="form-label">Название</label>
            <input type="email" class="form-control" id="floatingInput" placeholder="Название бюджета" formControlName="name">
          </div>
          <p class="text-danger text-center">{{errorText}}</p>
          <button class="btn btn-primary" type="submit">Создать</button>
        </form>
      </div>
    </div>

  </div>
  <div class="col-2"></div>
</div>
